<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>todoList</title>
</head>
<body>
	<div id="list">
		<input type="text" v-model="newitem" v-on:keyup.enter="newList">
		<ul>
			<li>{{newitem}}</li>
			<li v-for="i in items">
				{{i.text}}
			</li>
		</ul>
	</div>
	<hr>
	<div id="app">
		<!-- <div v-if='hello'>{{msg}}</div> -->
		<div v-if='hello'>{{*msg}}</div>
		<div id="list-{{msg}}">{{{msg?'h':'o'}}}</div>
	</div>
	<hr>
	<div id="app2" @click='doit'>
		<div>{{ok?ok.ko:'s'}}</div>
	</div>
	<hr>
	<div id="app3">
		<div>
			a:{{a}}  b:{{b}}
		</div>
	</div>
	<hr>
	<div id="app4" :class=['bbb']>
		<div>
		{{full}}
		</div>
		<h1 v-if='is'>ok</h1>
		<h1 v-else>oo</h1>
	</div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el:"#list",
		data:{
			newitem:'',
			items:[
				{text:'todotodo'}
			]
		},
		methods:{
			newList:function(){
				
				var oVal = this.newitem;
				console.log(this.newitem);
				if (oVal){
					this.items.push({text:oVal});
					this.newitem = '';
				};
			}
		}
	})

	var a = new Vue({
		el:'#app',
		data:{
			hello:true,
			msg:'vue 不错呀'
		}
	})

	var b = new Vue({
		el:'#app2',
		data:{
			ok:{
				ko:'yes,you got it!'
			}
		},
		methods:{
			doit:function(){
				alert(1);
			}
		}
	})

	var c = new Vue({
		el:'#app3',
		data:{
			a:1
		},
		computed:{
			b:function(){
				console.log(this)
				return this.a+1;
			}
		}
	})

	var name1 = new Vue({
		el:'#app4',
		data:{
			f:'Mars',
			l:'Qin',
			full:'Mars Qin',
			is:false
		}
	})
	name1.$watch('f',function(val){
		this.full = val + ' ' + this.l;
	})
	name1.$watch('l',function(val){
		this.full = this.f+' '+val;
	})
</script>
</html>